{% extends 'base.html' %}

{% macro generate_form(end_point, book) %}
     <form id="add-entry" action="{{ url_for(end_point, book_id=book.id) }}" method="post">

        <div class="d-flex flex-column w-25">
            <label for="title" class="form-label m-1" >Title</label>
            <input class="w-10"id="title" name="title" type="text" placeholder="{{ book.title }}">

            <label for="author" class="form-label m-1" >Author</label>
            <input class="w-10"id="author" name="author" type="text"  placeholder="{{ book.author }}">

            <label for="isbn" class="form-label m-1" >ISBN</label>
            <input class="w-10" id="isbn" name="isbn" type="text"  placeholder="{{ book.isbn }}">

            <label for="language" class="form-label m-1" >Language</label>
            <input class="w-10"id="language" name="language" type="text" placeholder="{{ book.language }}">

            <label for="pages_count" class="form-label m-1" >Pages count</label>
            <input class="w-10"id="pages_count" name="pages_count" type placeholder="{{ book.pages_count }}">

            <label for="publication_date" class="form-label m-1" >Publication date</label>
            <input class="w-10"id="publication_date" name="publication_date" type="date" value="{{ book.publication_date }}">

            <label for="link_to_cover_page" class="form-label m-1" >link_to_cover_page</label>
            <input class="w-10"id="link_to_cover_page" name="link_to_cover_page" type="text" placeholder="{{ book.link_to_cover_page }}">

        </div>
            <input class="btn btn-primary mt-2 mb-2 p-2" type="submit" value="Submit">
    </form>
{%- endmacro %}

